@font-face {
  font-family: 'Nexa_bold';
  src: url("./fonts/nexa/nexa_bold-webfont.woff2") format("woff2"), url("./fonts/nexa/nexa_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext_bold';
  src: url("./fonts/AvenirNext/avenir-next-bold.woff2") format("woff2"), url("./fonts/AvenirNext/avenir-next-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url("./fonts/AvenirNext/avenir-next-regular.woff2") format("woff2"), url("./fonts/AvenirNext/avenir-next-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AndaleMono';
  src: url("./fonts/Andale-Mono/andalemono-webfont.woff2") format("woff2"), url("./fonts/Andale-Mono/andalemono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AvenirNext_bold', Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0;
}

* {
  outline: none;
}

.no-mobile,
.no-mobile-992 {
  display: none;
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .no-desktop-768 {
    display: none;
  }
  .no-mobile {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .no-mobile-992 {
    display: block;
  }
}